body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #d4d4d4; 
  background-color: #1e1e1e; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;

}
.container img{
  width: 100%;
}

a {
  text-decoration: none;
  color: #a0aec0; 
}

.navbar {
  background-color: #2d3748; 
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5); 
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px; 
  font-weight: bold;
  color: #f0f0f0; 
}

.logo img {
  width: 80px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-left: auto; 
}

.nav-links a {
  color: #d4d4d4;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 16px; 
}

.nav-links a:hover, .nav-links a.active {
  color: #f0f0f0; 
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: 30px; 
}

.btn-secondary {
  padding: 8px 16px;
  background-color: #4a5568; 
  color: #f0f0f0;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.5s;
  font-size: 16px; 
}

.btn-secondary:hover {
  background-color: #718096;
}


.hero {
  background-color: #1e1e1e; 
  padding: 20px;
  text-align: center;

}
  .hero-logo {
    width: 350px; 
    max-width: auto;
    height: auto;
    margin: 0 auto 2px;
    display: block;
    margin-top: 60px;
    
}
.hero h1 {
  font-size: 32px; 
  margin-bottom: 16px;
  color: #f0f0f0; 
}

.hero p {
  font-size: 17.6px; 
  margin-bottom: 40px;
  color: #a0aec0; 
  max-width: 600px;
  margin: 0 auto;
}


.search-box {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -1px rgba(0, 0, 0, 0.4); 
}

.search-box i {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #718096; /
}

.search-box input {
  flex: 1;
  padding: 16px 16px 16px 45px;
  border: 1px solid #4a5568; 
  border-radius: 8px 0 0 8px;
  font-size: 16px; 
  background-color: #2d3748; 
  color: #d4d4d4; 
}

.search-box button {
  background-color: #a0aec0; 
  color: #2d3748; 
  border: none;
  padding: 0 25px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 16px; 
}

.search-box button:hover {
  background-color: #cbd5e0; 
}
